$icomoon-font-path: "fonts" !default;

$icon-kennziffer: "\e952";
$icon-epaper: "\e953";
$icon-web-format: "\e954";
$icon-van: "\e94d";
$icon-translation-wf: "\e955";
$icon-original-format: "\e956";
$icon-office-format: "\e957";
$icon-industriemotor: "\e958";
$icon-pannenruf: "\e94e";
$icon-schiffsmotor: "\e959";
$icon-level: "\e95a";
$icon-sign-out: "\e95b";
$icon-formular-zuruecksetzen: "\e95c";
$icon-icon-fax: "\e95d";
$icon-icon-filter: "\e94c";
$icon-ergebnisliste-sortierung: "\e95e";
$icon-search-save: "\e95f";
$icon-ok_logo: "\e967";
$icon-vk_logo: "\e968";
$icon-arrow_lefttoright: "\e965";
$icon-arrow_uptodown: "\e966";
$icon-configurator: "\e950";
$icon-service_dealer: "\e90d";
$icon-services: "\e911";
$icon-quote-end: "\e946";
$icon-quote-start: "\e947";
$icon-communication: "\e94b";
$icon-bus: "\e91b";
$icon-truck: "\e91c";
$icon-cart: "\e960";
$icon-truck_half: "\e93f";
$icon-stopwatch: "\e940";
$icon-zoom: "\e941";
$icon-lock: "\e942";
$icon-crosshair: "\e943";
$icon-gearwheels: "\e944";
$icon-copy: "\e948";
$icon-thumb: "\e93b";
$icon-eye: "\e93c";
$icon-download: "\e939";
$icon-minus: "\e917";
$icon-info: "\e91a";
$icon-checkbox-deselect: "\e914";
$icon-checkbox-select: "\e915";
$icon-turn-left: "\e93d";
$icon-video_replay: "\e913";
$icon-video_play: "\e912";
$icon-phone: "\e618";
$icon-checkmark_bold: "\e611";
$icon-language: "\e605";
$icon-link_arrow_full_up: "\e607";
$icon-link_arrow_full_right: "\e608";
$icon-link_arrow_full_left: "\e609";
$icon-link_arrow_full_down: "\e60a";
$icon-link_arrow_outline_up: "\e60b";
$icon-link_arrow_outline_down: "\e60c";
$icon-link_arrow_outline_right: "\e60d";
$icon-link_arrow_outline_left: "\e60f";
$icon-arrow-maximise: "\e90e";
$icon-globe: "\e900";
$icon-mail: "\e002";
$icon-image: "\e010";
$icon-printer: "\e020";
$icon-file-pdf: "\e919";
$icon-document: "\e034";
$icon-microphone: "\e048";
$icon-folder: "\e059";
$icon-open: "\e128";
$icon-calendar: "\e901";
$icon-pause: "\e918";
$icon-volume-high: "\e90f";
$icon-volume-low: "\e910";
$icon-volume-mute2: "\e91d";
$icon-video: "\e902";
$icon-zoom-in: "\e904";
$icon-zoom-out: "\e90b";
$icon-phone2: "\e91e";
$icon-pin: "\e932";
$icon-pin-filled: "\e962";
$icon-video-link: "\e93a";
$icon-play: "\e933";
$icon-trash: "\e934";
$icon-magnifier: "\e935";
$icon-cv: "\e936";
$icon-fullscreen: "\e937";
$icon-social-youtube: "\e931";
$icon-social-facebook-path1: "\e91f";
$icon-social-facebook-path2: "\e920";
$icon-social-flickr-path1: "\e921";
$icon-social-flickr-path2: "\e922";
$icon-social-flickr-path3: "\e923";
$icon-social-flickr-path4: "\e924";
$icon-social-google-path1: "\e925";
$icon-social-google-path2: "\e926";
$icon-social-instagram-path1: "\e927";
$icon-social-instagram-path2: "\e928";
$icon-social-linkedin-path1: "\e929";
$icon-social-linkedin-path2: "\e92a";
$icon-social-twitter-path1: "\e92b";
$icon-social-twitter-path2: "\e92c";
$icon-social-xing-path1: "\e92d";
$icon-social-xing-path2: "\e92e";
$icon-social-xing-path3: "\e92f";
$icon-social-xing-path4: "\e930";
$icon-map-cursor: "\e938";
$icon-share: "\e963";
$icon-rss: "\e90c";
$icon-xing: "\e964";
$icon-google-plus: "\e903";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-twitter: "\e907";
$icon-youtube: "\e908";
$icon-flickr: "\e909";
$icon-linkedin: "\e90a";
$icon-favourite_outline: "\e945";
$icon-favourite_filled: "\e93e";
$icon-plus: "\e916";
$icon-applicationfield-distribution_traffic: "\e94f";
$icon-applicationfield-long_distance_traffic: "\e951";
$icon-applicationfield-roadworks: "\e961";
$icon-balloon_bottom: "\e94a";
$icon-balloon_top: "\e949";

