.container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  min-height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container .navbar-main {
  width: 100%;
  position: relative;
  padding: .5rem 1rem;
  font-family: MAN-bold, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428571429;
  color: #303c49;
  background-color: #fff;
}

.container .navbar-main a {
  font-family: MAN-bold, Arial, sans-serif;
  line-height: 1.1em;
  display: inline;
  font-size: 13px;
  font-weight: 800;
  margin-right: 20px;
  padding-bottom: 6px;
  margin-left: 0;
  padding: 0px;
  text-transform: uppercase;
}

.container .navbar-main .nav-title {
  padding: 14px 0 12px;
  vertical-align: bottom;
  color: #acb1b6;
  font-size: 13px;
  margin-bottom: 0;
  font-family: MAN-light, Arial, sans-serif;
}

.container .navbar-main .nav-first-level {
  margin-top: -5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar-main .nav-first-level #logo {
  margin-right: -39px;
  margin-top: -5px;
  text-align: center;
  display: table-cell;
  width: 145px;
  position: absolute;
  top: 4px;
  vertical-align: bottom;
  height: auto;
  z-index: 20;
  right: 40px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

@media screen and (max-width: 992px) {
  .container .navbar-main .nav-first-level #logo {
    width: 94px;
    margin-right: 19px;
    margin-top: 0px;
  }
}

.container .navbar-main .nav-first-level #logo img {
  display: inline-block;
  max-width: 145px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .container .navbar-main .nav-first-level #logo img {
    margin-right: -201px;
  }
}

.teaser-section {
  font-family: MAN-light, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.teaser-section .card {
  border: 1px solid #D6D8DB;
}

.teaser-section .card .card-body .card-text-promo {
  display: -webkit-inline-box;
}

.teaser-section .card .card-body .price-text {
  color: black;
  text-decoration: line-through;
  margin-right: 10px;
}

.teaser-section .card .card-body .val-text {
  color: grey;
  text-decoration: line-through;
}

.teaser-section .card .card-body .card-list {
  margin-bottom: 5px;
  margin-top: 10px;
}

.teaser-section .card .card-body .card-list .card-list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 5px;
}

.teaser-section .card .card-body .card-list .card-list_item .icon {
  width: 24px;
  margin-right: 5px;
}

.teaser-section .card .card-body .card-list .card-list_item .icon img {
  width: 24px;
}

.teaser-section .card .card-body .card-list .card-list_item .text-list {
  font-family: MAN-light, Arial, sans-serif;
  color: #303c49;
}

.header-content {
  width: 100%;
  max-width: 2400px;
  height: 100vh;
  min-height: 500px;
  background: url("../images/MAN_BlackOutFriday_1560x700px_Final1.jpg") no-repeat center center fixed;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .header-content {
    height: 287px;
    min-height: 287px;
  }
}

@media screen and (min-width: 576px) {
  .header-content {
    height: 287px;
    min-height: 287px;
  }
}

@media screen and (min-width: 768px) {
  .header-content {
    height: 380px;
    min-height: 380px;
  }
}

@media screen and (min-width: 992px) {
  .header-content {
    height: 600px;
    min-height: 600px;
  }
}

.header-content .container {
  background-color: transparent;
}

.header-content .container .header-media {
  text-align: center;
}

.header-content .container .header-media img {
  padding: 40px;
  width: 70%;
}

@media screen and (max-width: 576px) {
  .header-content .container .header-media img {
    padding: 20px;
    width: 80%;
    margin-top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .header-content .container .header-media img {
    padding: 20px;
    width: 60%;
    margin-top: 47px;
  }
}

@media screen and (min-width: 992px) {
  .header-content .container .header-media img {
    padding: 20px;
    width: 60%;
    margin-top: 102px;
  }
}

@media screen and (min-width: 1300px) {
  .header-content .container .header-media img {
    padding: 0px;
    width: 68%;
    margin-top: 106px;
  }
}

.pagination {
  margin-top: 20px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .25rem;
}

.pagination .page-item {
  padding: 10px 10px;
}

.pagination .page-item .page-link {
  color: #303c49;
  cursor: auto;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.pagination .page-item .page-link a {
  text-decoration: none;
}

.pagination .page-item .page-link .active {
  z-index: 1;
  background-color: #303c49;
  color: #D6D8DB;
}

.filter {
  margin-top: 30px;
  font-family: MAN-light, Arial, sans-serif;
}

.filter .filter-title {
  font-family: MAN-Bold, Arial, sans-serif;
  color: #303c49;
  font-weight: 800;
}

.filter .filter-group {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter .filter-group .form-group label {
  font-family: MAN-light, Arial, sans-serif;
}

footer {
  background: #F0F1F2;
  padding: 40px 0;
  margin-top: 20px;
  font-family: MAN-light, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #303c49;
}

footer .footer-container {
  padding-right: 40px;
  padding-left: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-container .list-item {
  font-size: 15px;
}
/*# sourceMappingURL=app.css.map */