footer {
    background: #F0F1F2;
    padding: 40px 0;
    margin-top: 20px;
    font-family: MAN-light, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #303c49;
    
    .footer-container {
        padding-right: 40px;
        padding-left: 40px;
        flex-wrap: wrap;
        .list-item {
          font-size: 15px;  
        }
    }
}