.container-form {
    background-color: #F0F1F2;
    padding: 30px 15px;

    form {
        .form-group {
            font-family: MAN-light, Arial, sans-serif;
            color: #303c49;
            margin-bottom: 10px;

            .form-check-inline {
                .form-check-input {
                    position: static;
                    margin-top: 0;
                    margin-right: .3125rem;
                    margin-left: 0;
                    width: 25px;
                    height: 25px;

                    input[type="checkbox"],
                    input[type="radio"] {
                        box-sizing: border-box;
                        padding: 0;
                        width: 25px;
                        height: 25px;
                    }
                }

            }
        }

    }
}