.container-form {
    background-color: #F0F1F2;
    padding: 15px;

    form {
        .form-group {
            font-family: MAN-light, Arial, sans-serif;
            color: #303c49;
            margin-bottom: 10px;
        }
    }
}