
    .header-content {
        width: 100%;
        max-width: 2400px;
        height: calc(100vh - 60px);
        background: url("../assets/bg_header.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

