.container {

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    min-height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

     

    @media screen and(min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and(min-width: 992px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and(max-width: 1300px) {
        max-width: 1300px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @media screen and(min-width: 1300px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .navbar-main {
        width: 100%;
        position: relative;
        padding: .5rem 1rem;
        font-family: MAN-bold, Arial, sans-serif;
        font-size: 13px;
        line-height: 1.428571429;
        color: #303c49;
        background-color: #fff;

        a {
            font-family: MAN-bold, Arial, sans-serif;
            line-height: 1.1em;
            display: inline;
            font-size: 13px;
            font-weight: 800;
            margin-right: 20px;
            padding-bottom: 6px;
            margin-left: 0;
            padding: 0px;
            text-transform: uppercase;
        }

        .nav-title {
            padding: 14px 0 12px;
            vertical-align: bottom;
            color: #acb1b6;
            font-size: 13px;
            margin-bottom: 0;
            font-family: MAN-light, Arial, sans-serif;
        }

        .nav-first-level {
            margin-top: -5px;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #logo {
                margin-right: -39px;
                margin-top: -5px;
                text-align: center;
                display: table-cell;
                width: 145px;
                position: absolute;
                top: 4px;
                vertical-align: bottom;
                height: auto;
                z-index: 20;
                right: 40px;
                -webkit-transition: ease all .2s;
                transition: ease all .2s;

                @media screen and(max-width: 992px) {
                    width: 94px;
                    margin-right: 19px;
                    margin-top: 0px;
                }

                img {
                    display: inline-block;
                    max-width: 145px;
                    width: 100%;

                    @media screen and(max-width: 992px) {
                        margin-right: -201px;
                    }
                }
            }
        }
    }
}